.background-nav {
    color: black !important;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.button-navbar {
    display: flex;
    justify-content: start;
}

.button-nav {
    color: inherit;
    background-color: #2a623d;
}